*

!/.gitattributes
!/.gitignore
!/README.md
!/free-desktop-pet/
!/free-desktop-pet/**
!/sprite-battle-pet/
!/sprite-battle-pet/**

**/node_modules/
**/release/
**/dist/
**/out/
**/tasks/
**/.tmp/
**/.tmp-electron-profile/
**/.idea/
**/*.log
**/*-capture.png
**/builder-debug.yml
